@model HomePageViewModel
@{
	HashSet<string> uniqueColors = new HashSet<string>();
	foreach (var item in Model.Stocks)
	{
		if (!uniqueColors.Contains(item.Color))
		{
			@if (item.Quantity != 0)
			{
				uniqueColors.Add(item.Color);
			}

		}
	}
	var sortedColors = uniqueColors.OrderBy(o => o);
	var pageSize = Model.Pagination.ItemsPerPage;
	int totalItem = Model.productCount;
}
<div class="bg0 m-t-23 p-b-140">
	<div class="container">
		<div class="flex-w flex-sb-m p-b-52">
			<div class="flex-w flex-c-m m-tb-10">
				<div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
					<i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
					<i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
					Filter
				</div>

				<div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
					<i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
					<i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
					Search
				</div>
			</div>

			<!-- Search product -->
			<div class="dis-none panel-search w-full p-t-10 p-b-15">
				<div class="bor8 dis-flex p-l-15">
					<button id="searchButton" class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
						<i class="zmdi zmdi-search"></i>
					</button>

					<input id="searchInput" class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search-product" placeholder="Search">
				</div>
			</div>

			<!-- Filter -->
			<div class="dis-none panel-filter w-full p-t-10">
				<div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
					<div class="filter-col1 p-r-15 p-b-27">
						<div class="mtext-102 cl2 p-b-15">
							Category
						</div>

						<ul>
							<li class="p-b-6">
								<a asp-route-CategorySlug="@null" class="filter-link stext-106 trans-04">
									All
								</a>
							</li>
							@foreach (var category in Model.Categories)
							{
								<li class="p-b-6">
									<a asp-route-CategorySlug="@category.Slug" class="filter-link stext-106 trans-04">
										@category.Name
									</a>
								</li>
							}
						</ul>
					</div>
					<div class="filter-col1 p-r-15 p-b-27">
						<div class="mtext-102 cl2 p-b-15">
							Sort By
						</div>

						<ul>
							<li class="p-b-6">
								<a asp-route-sortby="1" asp-route-CategorySlug="@TempData["CategorySlug"]" asp-route-SearchTerm="@TempData["SearchTerm"]" class="filter-link stext-106 trans-04">
									Default
								</a>
							</li>

							<li class="p-b-6">
								<a asp-route-sortby="2" asp-route-CategorySlug="@TempData["CategorySlug"]" asp-route-SearchTerm="@TempData["SearchTerm"]" class="filter-link stext-106 trans-04 filter-link ">
									Newness
								</a>
							</li>

							<li class="p-b-6">
								<a asp-route-sortby="3" asp-route-CategorySlug="@TempData["CategorySlug"]" asp-route-SearchTerm="@TempData["SearchTerm"]" class="filter-link stext-106 trans-04">
									Price: Low to High
								</a>
							</li>

							<li class="p-b-6">
								<a asp-route-sortby="4" asp-route-CategorySlug="@TempData["CategorySlug"]" asp-route-SearchTerm="@TempData["SearchTerm"]" class="filter-link stext-106 trans-04">
									Price: High to Low
								</a>
							</li>
						</ul>
					</div>

					<div class="filter-col2 p-r-15 p-b-27">
						<div class="mtext-102 cl2 p-b-15">
							Price
						</div>

						<ul>
							<li class="p-b-6">
								<a asp-route-MinPrice="0" asp-route-MaxPrice="@int.MaxValue" asp-route-CategorySlug="@TempData["CategorySlug"]" asp-route-SearchTerm="@TempData["SearchTerm"]" class="filter-link stext-106 trans-04 filter-link">
									All
								</a>
							</li>

							<li class="p-b-6">
								<a asp-route-MinPrice="0" asp-route-MaxPrice="50" asp-route-CategorySlug="@TempData["CategorySlug"]" asp-route-SearchTerm="@TempData["SearchTerm"]" class="filter-link stext-106 trans-04">
									$0.00 - $50.00
								</a>
							</li>

							<li class="p-b-6">
								<a asp-route-MinPrice="50" asp-route-MaxPrice="100" asp-route-CategorySlug="@TempData["CategorySlug"]" asp-route-SearchTerm="@TempData["SearchTerm"]" class="filter-link stext-106 trans-04">
									$50.00 - $100.00
								</a>
							</li>

							<li class="p-b-6">
								<a asp-route-MinPrice="100" asp-route-MaxPrice="150" asp-route-CategorySlug="@TempData["CategorySlug"]" asp-route-SearchTerm="@TempData["SearchTerm"]" class="filter-link stext-106 trans-04">
									$100.00 - $150.00
								</a>
							</li>

							<li class="p-b-6">
								<a asp-route-MinPrice="150" asp-route-MaxPrice="200" asp-route-CategorySlug="@TempData["CategorySlug"]" asp-route-SearchTerm="@TempData["SearchTerm"]" class="filter-link stext-106 trans-04">
									$150.00 - $200.00
								</a>
							</li>

							<li class="p-b-6">
								<a asp-route-MinPrice="200" asp-route-MaxPrice="@int.MaxValue" asp-route-CategorySlug="@TempData["CategorySlug"]" asp-route-SearchTerm="@TempData["SearchTerm"]" class="filter-link stext-106 trans-04">
									$200.00+
								</a>
							</li>
						</ul>
					</div>

					<div class="filter-col3 p-r-15 p-b-27">
						<div class="mtext-102 cl2 p-b-15">
							Color
						</div>

						<ul>
							@foreach (var item in sortedColors)
							{
								<li class="p-b-6">
									<a asp-route-color="@item.ToString()" asp-route-CategorySlug="@TempData["CategorySlug"]" asp-route-SearchTerm="@TempData["SearchTerm"]" class="filter-link stext-106 trans-04">
										@item.ToString()
									</a>
								</li>
							}


						</ul>
					</div>

				</div>
			</div>
		</div>

		<div class="row isotope-grid">
			@foreach (var Product in Model.Products)
			{
				<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item @Product.Category.Name.ToLower()">
					<!-- Block2 -->
					<div class="block2">
						<div class="block2-pic hov-img0">
							<img src="@Product.Photo1Url" alt="IMG-PRODUCT">

							<a asp-action="ProductDetail" asp-controller="Home" asp-route-slug="@Product.Slug" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
								View
							</a>
						</div>

						<div class="block2-txt flex-w flex-t p-t-14">
							<div class="block2-txt-child1 flex-col-l ">
								<a asp-action="ProductDetail" asp-controller="Home" asp-route-slug="@Product.Slug" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
									@Product.Name
								</a>

								<span class="stext-105 cl3">
									$@Product.Price
								</span>
							</div>

							<div class="block2-txt-child2 flex-r p-t-3">
								<a asp-route-productId="@Product.Id" asp-controller="WhisList" asp-action="AddWishList" asp-route-returnUrl="@ViewContext.HttpContext.Request.PathAndQuery()" class="btn-addwish-b2 dis-block pos-relative">
									<img class="icon-heart1 dis-block trans-04" src="~/images/icons/icon-heart-01.png" alt="ICON">
									<img class="icon-heart2 dis-block trans-04 ab-t-l" src="~/images/icons/icon-heart-02.png" alt="ICON">
								</a>
							</div>
						</div>
					</div>
				</div>
			}
		</div>
		@if (pageSize < totalItem)
		{
			<form method="get" asp-action="Product" asp-route-CategorySlug="@TempData["CategorySlug"]" asp-route-SearchTerm="@TempData["SearchTerm"]">
				<input type="hidden" name="loadMore" value="1">
				<div class="flex-c-m flex-w w-full p-t-45">
					<button type="submit" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
						Load More
					</button>
				</div>
			</form>

		}

	</div>
</div>